.start__content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    @include tablets {
        flex-direction: column;
    }
}

.start__text,.start__pic {
    min-width: 50%;
    flex: 1;
    display: flex;
    @include tablets {
        justify-content: center;
    }
}

.start__pic {
    justify-content: center;
    align-items: center;
}

.start__text {
    flex-direction: column;
    margin-top: rem(60px);
    @include tablets {
        align-items: center;
        margin-top: rem(0px);
    }
}

.start__title {
    margin-bottom: rem(0px);
    @include big-tablets {
        font-size: rem(55px);
    }
}
.start__description {
    color: $white;
    font-size: rem(65px);
    @include font-lifehack();
    line-height: 1;
    @include tablets {
        text-align: center;
    }
}

.start__pic-img {
    display: block;
    width: 100%;    
}