.header {
    display: flex;
    align-items: center;
    padding-top: rem(15px);
}
.header__logo {
    z-index: 10;
}
.header__buttons {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.nav {
    @include tablets {
        display: none;
    }
}
.nav__list {
    display: flex;
    margin-right: rem(17px);
}

.nav__item  {
    display: flex;
    align-items: center;
    &:after {
        @include circle(rem(4px), $white);
        margin: 0 rem(17px);
        @include big-tablets {
            margin: 0 rem(5px);
        }
    }
    &:last-child:after {
            display: none;
     }
}

.nav__link {
    font-size: rem(13px);
    display: flex;
    align-items: center;
    text-transform: uppercase;
    transition: .3s;
    &:hover {
        color: $orange;
    }
}
.header__button {
    @include tablets {
        margin-right: rem(17px);
    }
}

.hamburger {
    display: inline-block;
    width: rem(25px);
    height: rem(25px);
    position: relative;
    display: none;
    // z-index: 10;
    @include tablets {
        display: flex;
    }
}
.hamburger__bars {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    
}

.hamburger__bar {
    display: inline-block;
    background-color: $white;
    width: 100%;
    height: rem(5px);
    border-radius: rem(5px);
    position: relative;
}