.header {
    display: flex;
    align-items: center;
    padding-top: rem(15px);
}

.header__buttons {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.nav__list {
    display: flex;
    margin-right: rem(17px);
}

.nav__item  {
    display: flex;
    align-items: center;
    &:after {
        @include circle(rem(4px), $white);
        margin: 0 rem(17px);
    }
    &:last-child:after {
            display: none;
     }
}

.nav__link {
    font-size: rem(13px);
    display: flex;
    align-items: center;
    text-transform: uppercase;
    &:hover {
        text-decoration: underline;
    }
}