.header {
    display: flex;
    align-items: center;
    padding-top: rem(15px);
}

.header__buttons {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.nav__list {
    display: flex;
    margin-right: rem(17px);
}

.nav__item  {
    display: flex;
    align-items: center;
    &:after {
        @include circle(4px, $white);
        margin: 0 rem(17px);
    }
    &:last-child:after {
            display: none;
     }
}

.nav__link {
    font-size: rem(13px);
    display: flex;
    align-items: center;
    text-transform: uppercase;
    &:hover {
        text-decoration: underline;
    }
}
// .start__header {
//     padding-top: rem(10px);
// }

// .logo__img {
//     width: 92px;
//     height: 69px;
//     background: url('../images/1-start/logo.png') no-repeat;
// }

// .nav {
//     flex: 1 0 auto;
//     display: flex;
//     flex-direction: row;
//     justify-content: flex-end;
//     align-items: center;
//     padding-right: 20px;
//     // font-family: 'Ubuntu';
//     // font-weight: 500;
//     @include font-ubuntu;
// }

// .nav__item {
//     &::before {
//         content: '';
//         @include circle(rem(4px), $white);
//         margin: rem(2px) rem(15px);
//     }
//     &:first-child::before {
//         display: none;
//     }
// }
// .nav__link {
//     &:hover {
//         text-decoration: underline;
//     }
// }

// .header__btn {
//     display: flex;
//     align-items: center;
// }