.menu {
    @include bg('menu.jpg');
}

.menu__container {
    max-width: 100%;
    flex: 1;
    display: flex;
    flex-direction: row;
}

.menu__main-title {
    position: absolute;
    left: rem(100px);
    top: rem(100px);
}

.menu__acco {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0; // left: 0;
    display: flex;
    justify-content: flex-end;
}

.menu__acco-item {
    width: rem(80px);
    display: flex;
    position: relative;
    transition: .5s;
    cursor: pointer;
}

.menu__acco-item--active {
    width: 50%;
    .menu__acco-container {
        background-position: 100% 0;
    }
    .menu__acco-title-wrap {
        color: $orange;
    }
    @include tablets {
        width: 100%;
    }
}

.menu__acco-container {
    width: 100%;
    display: flex;
}

.menu__acco-container--meat {
    transition: .5s;
    @include bg-menu('meat.jpg');
    background-position: 70% 0;
}

.menu__acco-container--vegan {
    @include bg-menu('vegan.jpg');
    background-position: 90% 0;
}

.menu__acco-container--diet {
    @include bg-menu('diet.jpg');
    background-position: 50% 0;
}

.menu__acco-title {
    flex: 0.1;
    min-width: 5rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    @include tablets {
        align-items: flex-end;
    }
    &::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background-color: rgba(black, .5);
    }
}

.menu__acco-title-wrap {
    position: absolute;
    font-size: rem(50px);
    @include font-gagalin;
    transform: rotate(-90deg);
    @include tablets {
    transform: rotate(-90deg) translate(45%, 0%);
    }
}

.menu__acco-description {
    flex: 1;
    overflow: hidden;
    background-color: rgba($dark, .9);
    line-height: 2.5;
    position: relative;
    cursor: default;
}

.menu__acco-description-wrap {
    position: absolute;
    padding: rem(50px);
    width: rem(600px);
}