.review__container {
    width: 100%;
    display: flex; // justify-content: center;
    // align-items: stretch;
    // flex-direction: column;
}

.review__list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.review__item {
    width: 25%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 35px;
  }

  .review__title {
    font-family: 'Gagalin';
    font-size: rem(24px);
    flex: .5 0 auto;
    padding-top: rem(40px);
  }
  .review__text {
      flex-grow: 1;
      line-height: 2;
      font-size: rem(20px);
      font-weight: 300;
  }

  .review__button {
    flex: 1 0 auto;
  }
  .review__link {
      background-color: $dark;
      border-radius: rem(5px);
      padding: rem(10px) rem(17px);  
  }
.review__item--1 {
    background: url('../images/6-reviews/1rv.jpg') no-repeat;
    background-size: cover;
}

.review__item--2 {
    background: url('../images/6-reviews/2rv.jpg') no-repeat;
    background-size: cover;
}

.review__item--3 {
    background: url('../images/6-reviews/3rv.jpg') no-repeat;
    background-size: cover;
}

.review__item--4 {
    background: url('../images/6-reviews/4rv.jpg') no-repeat;
    background-size: cover;
}

.review__item--5 {
    background: url('../images/6-reviews/5rv.jpg') no-repeat;
    background-size: cover;
}

.review__item--6 {
    background: url('../images/6-reviews/6rv.jpg') no-repeat;
    background-size: cover;
}

.review__item--7 {
    background: url('../images/6-reviews/7rv.jpg') no-repeat;
    background-size: cover;
}

.review__item--8 {
    background: url('../images/6-reviews/8rv.jpg') no-repeat;
    background-size: cover;
}

//     .review__container {
//         width: 100%;
//         height: 100%;
//         display: flex;
//         flex-wrap: wrap;
//         overflow: hidden;
//         
//         .review__item {
//             display: flex;
//             flex: 1 0 auto;
//             flex-direction: column;
//             width: 350px;
//             height: 500px;
//             background-size: cover;
//             transition: .5s;
//             &:hover .review__list {
//                 opacity: 1;
//                 background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7));
//             }
//             .review__list {
//                 height: 100%;
//                padding: rem(30px);
//                transition: .5s;
//                opacity: 0;
//             .review__header {
//                 font-size: 1.2rem;
//                 color: $white;
//                 margin-top: rem(35px);
//             }
//             .review__text {
//                 font-weight: 300;
//                 line-height: 2.5rem;
//                 margin-top: rem(43px);
//                 font-size: 1.2rem;
//             }
//             .review__button {
//                 background-color: $dark;
//                 margin-top: 33px;
//                 font-size: 1.1rem;
//                 max-width: rem(150px);
//                 &:hover {
//                     background-color: darken($color: $dark, $amount: 10);
//                 }
//             } 
//             }
//         }
// }