.start__container {
    // outline: 1px solid dodgerblue;
    justify-content: space-between;
    align-items: stretch;
}

.start__content {
    flex: 1 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
}
.start__header {
    padding-top: rem(10px);
}

.logo__img {
    width: 92px;
    height: 69px;
    background: url('../images/1-start/logo.png') no-repeat;
}

.nav {
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    font-family: 'Ubuntu';
    font-weight: 500;
}

.nav__item {
    &::before {
        content: '';
        @include circle(rem(4px), $white);
        margin: rem(2px) rem(15px);
    }
    &:first-child::before {
        display: none;
    }
}
.nav__link {
    &:hover {
        text-decoration: underline;
    }
}

.header__btn {
    display: flex;
    align-items: center;
}

.start__content {
    display: flex;
    justify-content: center;
}
.content__col {
    min-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content__col--2 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-left: rem(10px);
}

.content__img {
    width: 451px;
    height: 420px;
    background: url('../images/1-start/burger.png') no-repeat;
    margin: 0 0 rem(73px) rem(11px);
}

.description__title {
    color: $orange;
    font-size: 72px;
    font-family: 'Gagalin';
    line-height: 1.5;
}
.description__text {
    color: $white;
    font-size: 65px;
    font-family: 'Lifehack';
    line-height: 1;
}

.arrow {
    min-height: rem(35px);
    display: flex;
    justify-content: center;
}
.arrow__img {
    background: url('../images/scroll.png');
    width: 29px;
    height: 14px;
}

// .nav__item {
//     display: inline-block;
//     vertical-align: middle;
//     white-space: nowrap;
//     &::before {
//         content: '';
//         @include circle(rem(5px),
//         $white);
//         margin: 0 rem(13px);
//     }
//     &:first-child::before {
//         display: none;
//     }
// }
// .start__content {
//     width: 100%;
//     display: flex;
//     justify-content: space-around;
//     align-items: center;
// }
// .start__img {
//     flex: 1 0 auto;
//     width: 451px;
//     height: 420px;
//     background: url('../images/1-start/burger.png') no-repeat;
//     background-size: cover;
// }
// .start__description {
//     padding: 40px 0 0 25px;
// }