.we__container {
    justify-content: space-between;
    align-items: stretch;
    overflow: hiddesn;
}

.we__feature {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
}

.we__header {
    display: flex;
    justify-content: center;
}

.we__title {
    color: $dark;
    display: flex;
    justify-content: center;
}

.feature__list {
    display: flex;
}

.feature__item {
    width: 33.3%;
}

.feature__title {
    font-size: rem(24px);
    text-align: center;
    color: $dark;
    margin: rem(20px) 0 rem(15px) 0;
}

.feature__text {
    font-weight: 300;
    font-size: rem(13px);
    text-align: center;
    color: $dark;
}

.feature__pic {
    width: 100px;
    height: 100px;
}
.feature__pic--meat {
    background: url('../images/2-we/meat.png') no-repeat;
    background-position: center center;
}
.feature__pic--hand {
    background: url('../images/2-we/hand.png') no-repeat;
    background-position: center center;
}
.feature__pic--natural {
    background: url('../images/2-we/natural.png') no-repeat;
    background-position: center center;
}

.feature__img {
    display: flex;
    justify-content: center;
}