.test {
    outline: rem(1px) solid $red;
    background-color: rgba($color: $orange, $alpha: .3);
    min-width: rem(10px);
    min-height: rem(10px);
}
.test2 {
    outline: rem(1px) solid darkviolet;
    background-color: rgba($color: azure, $alpha: .3);
    min-width: rem(10px);
    min-height: rem(10px);
}
//отображение
//текст
//выравнивание