.review__list {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

.review__item {
    width: 25%;
    height: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: .2s;
    filter: grayscale(100%);
    position: relative;
    &:hover {
        .review__hover {
            opacity: 1;
            transform: scale(1);
        }
    }
}

.review__hover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba($dark, .8);
    transition: .2s;
    opacity: 0;
    transform: scale(.95);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 35px;
    display: flex;
    align-items: flex-start;
}

.review__title {
    font-family: 'Gagalin';
    font-size: rem(24px);
    margin-bottom: rem(10px);
}
.review__text {
    line-height: 2;
    font-size: rem(20px);
    font-weight: 300;
    margin-bottom: rem(10px);
}
.review__item--1 {
    background-image: url('../images/6-reviews/1rv.jpg');
}

.review__item--2 {
    background-image: url('../images/6-reviews/2rv.jpg');
}

.review__item--3 {
    background-image: url('../images/6-reviews/3rv.jpg');
}

.review__item--4 {
    background-image: url('../images/6-reviews/4rv.jpg');
}

.review__item--5 {
    background-image: url('../images/6-reviews/5rv.jpg');
}

.review__item--6 {
    background-image: url('../images/6-reviews/6rv.jpg');
}

.review__item--7 {
    background-image: url('../images/6-reviews/7rv.jpg');
}

.review__item--8 {
    background-image: url('../images/6-reviews/8rv.jpg');
}