
//кружочки
@mixin circle($size, $color) {
    content: '';
    vertical-align: bottom;
    display: inline-block;
    width: rem($size);
    height: rem($size);
    border-radius: 50%;
    background-color: $color;
}

//перевод пикселей в rem
@function rem($px) {
    @return $px / 16px+0rem;
}

//фон 
@mixin bg ($url) {
    background: $dark url('../images/backgrounds/' + $url) center center no-repeat;
    background-size: cover;
}
@mixin bg-menu ($url) {
    background: $dark url('../images/5-menu/' + $url) center center no-repeat;
    background-size: cover;
}

//шрифты

@mixin font-ubuntu ($style: light) {
    font-family: 'Ubuntu', Helvetica, sans-serif;
    @if $style == light {
        font-weight: 300;
    }
    @if $style == medium {
        font-weight: 500;
    }
    @if $style == bold {
        font-weight: bold;
    }
}

@mixin font-gagalin() {
    font-family: 'Gagalin', Helvetica, sans-serif;
}

@mixin font-lifehack() {
    font-family: 'Lifehack', Helvetica, sans-serif;
}