.contacts {
    @include bg('map.jpg');
    position: relative;
}

.map {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.footer {
    position: absolute;
    box-shadow: 0 rem(-5px) rem(20px) rgba(#000, .5); 
    bottom: 0;
    padding: rem(10px) rem(50px);
    width: 100%;
    @include bg('footer.jpg');
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include phones {
        flex-direction: column;
        padding: rem(5px) rem(5px);
    }
}

.data {
    @include phones {
        text-align: center;
        margin-bottom: rem(5px);
    }
}

.data__phone {
    margin-top: rem(10px);
    color: $red;
    @include font-ubuntu(bold);
    &:before {
        content: '';
        display: inline-block;
        margin-right: rem(10px);
        width: rem(15px);
        height: rem(15px);
        background-image: url('../images/8-contacts/phone.png');
        background-position: center center;
        background-repeat: no-repeat;
    }
}

.social__list {
    display: flex;
}
.social__item {
    padding-right: rem(20px);
    &:last-child {
        padding-right: rem(0px);
    }
}
.social__link {
    display: inline-block;
    &:hover {
        .social__img {
            fill: $white;
        }
    }
}

.social__img {
    transition: .3s;
    width: rem(20px);
    height: rem(20px);
    fill: rgba(#888, .7);
}