.team {
    @include bg('team.jpg');
}

.section-title__team {
    @include tablets {
        margin-bottom: rem(0px);
        font-size: rem(60px);
    }
    @include phones {
        font-size: rem(90px);
    }
}
.team__container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    background: rgba($dark, .95);
    padding-left: rem(70px);
    padding-top: rem(50px);
    padding-right: rem(50px);
    display: flex;
    @include tablets {
        left: 0;
        width: 100%;
        padding: rem(30px);
        display: flex;
        justify-content: center;
    }
}

.team__content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    @include tablets {
        align-items: center;
    }
}

.team-acco {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include tablets {
        align-items: center;
    }
}

.team-acco__item {
    display: flex;
    flex-direction: column;
    margin: rem(10px) 0;
    transition: .3s;
    @include tablets{
        align-items: center;
    }
    
}

.team-acco__item_active {
    .team-acco__trigger {
        color: $orange;
        transition: .3s;
        &:before {
            transform: rotate(180deg);
            transition: .3s;
        }
    }
}

.team-acco__trigger {
    color: $white;
    display: flex;
    align-items: center;
    margin-bottom: rem(10px);
    @include font-gagalin;
    &:before {
        content: '';
        width: 0;
        height: 0;
        border-left: rem(5px) solid transparent;
        border-right: rem(5px) solid transparent;
        border-top: rem(7px) solid $orange;
        margin-right: rem(10px);
    }
    @include tablets {
        text-align: center;
        font-size: rem(25px);
    }
    @include phones {
        font-size: rem(30px);
    }
}

.team-acco__content {
    height: 0;
    overflow: hidden;
    transition: .5s;
    justify-content: space-between;
    @include tablets {
        
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

.team-acco__pic {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: .25;
    @include tablets {
        margin-bottom: rem(22px);
        width: 100%;
    }
}

.team-acco__pic-img {
    background: url('/images/4-team/aphex.jpg') center center no-repeat;
    background-size: 135%;
    background-position: rem(-20px) center;
    display: block;
    overflow: hidden;
    width: rem(100px);
    height: rem(100px);
    border-radius: 50%;
    @include tablets {
        width: rem(100px);
        height: rem(100px);
    }
    @include phones {
        width: rem(120px);
        height: rem(120px);
    }
}

.team-acco__text {
    flex: .72;
}

.team-acco__text-title {
@include font-ubuntu(bold);
margin-bottom: rem(20px);
}

.team-acco__text-content {
    line-height: 2;
}