// //кнопка заказа
.button {
    cursor: pointer;
    display: inline-block;
    padding: rem(10px) rem(15px);
    border-radius: rem(5px);
    background: $red;
    color: $white;
    text-decoration: none;
    font-size: rem(13px);
    font-weight: 500;
    transition: background-color .5s;
    text-transform: uppercase;
    //form__button_background_transparent
    &:hover {
        background-color: darken($color: $red, $amount: 10); 
    }
    &_background {
        &_transparent {
            background-color: transparent;
            &:hover {
                background-color: transparent;
            }
        }
    }
}

.radio, .checkbox {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    margin-right: 15px;
  }
  
  .radio__input, .checkbox__input {
    position: absolute;
    opacity: 0;
    transition: .2s;
  }
  
  .radio__title {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .radio__title:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background-color: white; 
    border-radius: 50%;
    transition: .2s;
  }
  .radio__title:after {
    content: '';
    display: inline-block;
    width: 0px;
    height: 0px;
    margin-right: 5px;
    border-radius: 50%;
    position: absolute;
    left: 10px;
    top: 10px;
    transition: .2s;
  }
  
  .radio__input:checked + .radio__title:after {
    background-color: #e35028;
    width: 10px;
    height: 10px;
    left: 5px;
    top: 6px;
  }
  
  .checkbox__title {
    display: flex;
    position: relative;
  }
  .checkbox__title:before {
    content:'';
    display: inline-block;
    background-color: #fff;
    width: 15px;
    height: 15px;
    margin-right: 5px;
  }
  .checkbox__title:after {
    content:'';
    display: inline-block;
    background-image: url('../images/7-form/check.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 0px;
    height: 0px;
    top: 7px;
    left: 7px;
    position: absolute;
    transition: .1s;
  }
  
  .checkbox__input:checked + .checkbox__title:after {
    width: 13px;
    height: 13px;
    top: 1px;
    left: 1px;
  }

  
.radio__input:focus + .radio__title:before {
      nav-index: 10;
      box-shadow: 0 0 rem(2px) rem(2px) $red;
  }
.checkbox__input:focus + .checkbox__title:before {
      nav-index: 10;
      box-shadow: 0 0 rem(2px) rem(2px) $red;
  }
