// заголовки
.section-title {
    color: $orange;
    font-size: rem(72px);
    @include font-gagalin();
    margin-bottom: rem(40px);
    &_color {
        &_dark {
            color: $dark;
        }
        &_white{
            color: $white;
        }
        &_red{
            color: $red;
        }
    }
    &_position {
        &_center {
            text-align: center;
        }
    }
}
.oblique-title {
    color: $white;
    font-size: rem(65px);
    @include font-lifehack();
}