.burgers {
    background: url('../images/3-burgers/bg.jpg') no-repeat;
    background-size: cover;
}

.contacts {

}

.form {
    background: url('../images/7-form/bg.jpg') no-repeat;
    background-size: cover;
}

.menu {
    background: url('../images/5-menu/bg.jpg') no-repeat;
    background-size: cover;
}

.review {

}

.start {
    background: url('../images/1-start/bg.jpg') no-repeat;
    background-size: cover;
}

.team {
    background: url('../images/4-team/bg.jpg') no-repeat;
    background-size: cover;
}

.we {
    background: url('../images/2-we/bg.jpg') no-repeat;
    background-size: cover;
}