body,
html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.42;
    @include font-ubuntu();
    background-color: $dark;
    color: $white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    font-weight: normal;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

*,
*:before,
*::after {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
    li {
        list-style: none;
    }
}

p {
    padding: 0;
    margin: 0;
}
footer {
    position: relative;
    width: 100%;
}
a {
    text-decoration: none;
    color: $white;
}

textarea {
    resize: none;
}
textarea:focus, input:focus{
    outline: none;
    
}

.vh:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}