.order {
    @include bg('form.jpg');
    position: relative;
}

.order__section-title  {
    @include phones {
        font-size: rem(60px);
        margin-bottom: rem(0px);
    }
}

.form {
    display: flex;
    flex-direction: row;
    @include tablets {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.form__elem {
    display: flex;
}
.form__content {
    width: 50%;
    margin-right: rem(20px);
    &:last-child {
        margin-right: rem(0px);
    }
    @include tablets {
        width: 80%;
        margin-right: rem(0px);
    }
    @include phones {
        width: 100%;
    }
}
.form__row {
    display: flex;
    margin-bottom: rem(16px);
    &_phones {
        @include phones {
            justify-content: center;
            margin-top: rem(50px);
            font-size: rem(18px);  
        }
    }
}

.form__block {
    flex: 1;
    margin-right: rem(20px);
    
    &:last-child {
        margin-right: rem(0px);
    }

    @include phones {
        margin-right: rem(10px);
    }
}
.form__title {
    font-size: rem(14px);
    margin-bottom: rem(5px);
    @include phones {
        font-size: rem(18px);
    }
}
.form__input {
    width: 100%;
    padding: rem(8px);
    border: none;
    border-radius: rem(5px);
    transition: box-shadow .3s;
    @include phones {
        padding: rem(15px);
    }
    &:focus{
        box-shadow: 0 0 0 rem(2px) $orange;
    }
}
.form__button {
    margin-right: rem(20px);
    @include phones {
        font-size: rem(16px);
    }
    &:last-child {
        margin-right: rem(0px);
    }
}


