.we__list {
display: flex;
justify-content: space-around;
@include phones {
    flex-direction: column;
    padding: 0 rem(30px);
}

}

.we__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    @include phones {
        flex-direction: row;
        text-align: center;
    }
}

.we__data {
    margin-top: rem(20px);
    @include phones {
        margin-left: rem(20px);
        text-align: left;
    }
}
.we__title {
    @include font-lifehack();
    font-size: rem(24px);
}
.we__description {
    margin-top: rem(20px);
    font-size: rem(13px);
    @include phones {
        margin-top: rem(5px);
        
    }
}
.we__icon-img {
    width: rem(100px);
    height: rem(100px);
    fill: $red;
}
.we__icon-img--natural {
    fill: $green;
}
.we__icon-img--hand {
    fill: $orange;
    
}