@import url('fonts.css');

$red: #e45028;
$orange: #f9b43b;
$white: #fff;
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a {
    text-decoration: none;
    color: $white;
}

.screen {
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.container {
    width: 940px;
}

.screen--start {
    background: url('../images/1-start/bg.jpg') no-repeat;
    background-size: cover;
    .container {
        display: flex;
        flex-direction: column;
    }
    .header {
        height: 100px;
        display: flex;
        color: $white;
        text-transform: uppercase;
        font-size: 0.8125rem;
        font-family: Ubuntu;
        .header__col-1 {
            width: 92px;
            display: flex;
            align-items: center;
            .header__logo {
                width: 92px;
                height: 69px;
                background: url('../images/1-start/logo.png') no-repeat;
            }
        }
        .header__col-2 {
            flex: 1 0 auto;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            .nav {
                display: flex;
                flex-direction: row;
                margin-right: 15px;
                .nav__item {
                    &::before {
                        content: '•';
                        font-size: 1rem;
                        margin: 0 15px 0 15px;
                    }
                    &:first-child::before {
                        content: '';
                    }
                }
            }
        }
        .header__col-3 {
            display: flex;
            align-items: center;
            .header__order {
                border: 1px solid $red;
                background-color: $red;
                border-radius: 5px;
                padding: 10px 14px 10px 14px;
                cursor: pointer;
                transition: border-color .3s, background-color .3s;
                &:hover {
                    background-color: darken($color: $red, $amount: 10);
                    border-color: darken($color: $red, $amount: 10);
                }
            }
        }
    }
    .content {
        display: flex;
        margin-top: -20px;

        .content__img {
            flex: 1 0 auto;
            max-width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            .content__burger-img {
                width: 451px;
                height: 420px;
                background: url('../images/1-start/burger.png') no-repeat;
                background-size: cover;
            }
        }
        .content__description {
            flex: 1 0 auto;
            height: 420px;
            max-width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            .content__text-wrap {
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 20px 0 0 7px;
                margin-top: 40px;
            }
            .content__h1 {
                color: $orange;
                font-size: 72px;
                font-family: 'Gagalin';
            }
            .content__h2 {
                color: $white;
                font-size: 65px;
                font-family: 'Lifehack';
                
            }
        }
    }
}

.screen--we {
    background: url('../images/2-we/bg.jpg') no-repeat;
    background-size: cover;
}

.screen--burgers {
    background: url('../images/3-burgers/bg.jpg') no-repeat;
    background-size: cover;
}

.screen--team {
    background: url('../images/4-team/bg.jpg') no-repeat;
    background-size: cover;
}

.screen--menu {
    background: url('../images/5-menu/bg.jpg') no-repeat;
    background-size: cover;
}

.screen--review {
    background: url('../images/6-reviews/bg.jpg') no-repeat;
    background-size: cover;
}

.screen--form {
    background: url('../images/7-form/bg.jpg') no-repeat;
    background-size: cover;
}

.screen--contacts {
    background: url('../images/8-contacts/bg.jpg') no-repeat;
    background-size: cover;
}